<!doctype html>
<html>
	<head>
		<title>Kevin's Registration Page</title>
		<meta charset="utf-8">
		<link href="../public/css/main.css" rel="stylesheet" type="text/css" media="all">
	</head>	
	<body>
		<div class="main-content">
			<%- body %>
		</div>
	</body>
</html>
		